/* smokum-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Smokum';
    font-style: normal;
    font-weight: 400;
    src: url('./font/smokum-v28-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Smokum';
    align-items: center;
    background-image: url('img/5_background/start_screen.png');
}

.d-none {
    display: none !important;
}

#startScreen {
    z-index: 10;
    position: absolute;
    margin-top: 56px;
}

.startImg {
    width: 720px;
    height: 480px;
}

#startBtn {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 64px;
    justify-content: center;
    position: absolute;
}

#startBtn img {
    height: 48px;
    width: auto;
}

.reload {
    position: absolute;
    padding: 32px;
}

.reloadBtn {
    height: 50px !important;
    width: 50px !important;
}

#endScreenWon {
    z-index: 5;
    position: absolute;
}

#endScreenWon img {
    margin-top: 56px;
    height: 480px;
    width: 720px;
}

#endScreenLost {
    z-index: 6;
    position: absolute;
}

#endScreenLost img {
    margin-top: 56px;
    height: 480px;
    width: 720px;
}

.rotateScreenAlert {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 32px;
    background-color: rgba(0, 0, 0, 0.5);
}

.rotateScreenAlert img {
    height: 180px;
    width: 180px;
}



h1 {
    text-align: center;
    font-size: 64px;
    text-shadow: 4px 4px lightgray;
    letter-spacing: 4px;
    margin-block-end: 0;
}

.main {
    position: relative;
    width: 720px;
    height: 553px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

canvas {
    z-index: 1;
    background-color: black;
    border: 2px solid black;
}

.hud {
    box-sizing: border-box;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 88%;
}

.counter {
    z-index: 1;
    font-size: 24px;
    margin-top: 5%;
    display: flex;
    width: 110px;
    justify-content: space-between;
    padding-left: 64px;
}

.buttons {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 1%;
}

.singleBtnSection {
    width: 150px;
    margin-left: 32px;
    margin-right: 32px;
    display: flex;
    justify-content: space-between;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.instruct {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 1200px) {
    .buttons {
        display: none;
    }
}

@media (max-width: 950px) {
    body {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    canvas {
        width: 99.5%;
        height: 99.5%;
    }

    .singleBtnSection {
        width: 120px;
    }
}

@media (max-width: 720px) {
    .main {
        width: 100%;
        height: auto;
    }

    #startScreen,
    #endScreenWon,
    #endScreenLost,
    #endScreenWon img,
    #endScreenLost img,
    .rotateScreenAlert {
        width: 100vw;
        height: auto;
        margin-top: 0 !important;
    }

    #startBtn {
        padding-top: 32px;
    }

    .startImg {
        width: 100vw;
        height: auto;
    }
}

@media (max-height: 480px) {
    .main {
        height: 100vh;
    }

    #startScreen,
    .startImg,
    #endScreenWon,
    #endScreenLost,
    #endScreenWon img,
    #endScreenLost img {
        height: 100vh;
        width: auto;
        margin-top: 0 !important;
    }

    .hud {
        height: 100%;
    }

    .counter {
        margin-top: 14px;
        width: 104px;
        padding-left: 60px;
    }

    h1 {
        display: none;
    }

    .instruct {
        display: none;
    }
}

@media (max-width: 520px) {
    .counter {
        width: 17%;
        font-size: 120%;
    }
}